.card {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: transform 0.3s ease;
  font-family: "Tahoma";
}

.card h2 {
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #b82162;
}

.card p {
  padding-top: 10px;
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  color: grey;
}

.card span {
  display: inline-block;
  min-width: 50px;
  transition: transform 0.3s ease;
}

.card:hover span {
  transform: translateX(5px);
}

.card:hover {
  text-decoration: none;
}
